<launch>

<arg name="debug" default="false" />
<arg unless="$(arg debug)" name="launch_prefix" value="" />
<arg     if="$(arg debug)" name="launch_prefix"
     value="valgrind -v --track-origins=yes --tool=memcheck --leak-check=full --show-reachable=yes  --num-callers=20 --track-fds=yes  --log-file=/home/feymann/a.txt" />

  <!-- value="gdb - ex run - args" /> -->

<test launch-prefix="$(arg launch_prefix)" test-name="test" pkg="eigen_state_space_systems" type="filtered_values_test" >
</test>


</launch>
