<launch>

<arg name="debug" default="false" />
<arg unless="$(arg debug)" name="launch_prefix" value="" />
<arg     if="$(arg debug)" name="launch_prefix"
     value="valgrind -v --track-origins=yes --tool=memcheck --leak-check=full --show-reachable=yes  --num-callers=20 --track-fds=yes  --log-file=/home/feymann/a.txt" />

<rosparam>
  test_wrong:
    natural_frequency: -1.0
    frequency: 1
    sample_period: 1
    channels: 3
</rosparam>

<rosparam>
  test:
    frequency: 1
    sample_period: 1
    channels: 6
</rosparam>

<test launch-prefix="$(arg launch_prefix)" test-name="test_filters" pkg="eigen_state_space_systems" type="test_filters" >

</test>


</launch>
